In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("loan_data.csv")

In [3]:
df

,Income,Age,employment,family_size,earning_members,expenses,loan_amount,open_loan_count,open_loan_amount,home_owner,Loan_purpose,credit_rating,granted,comment
0,100000.0,25.0,service,3,1,120000,2000000.0,0.0,0.0,False,home,good,True,NaN
1,200000.0,35.0,self_employed,5,1,240000,2000000.0,3.0,5100000.0,True,business,good,False,3 loans outstanding
2,10000000.0,41.0,self_employed,1,1,1000000,5000000.0,0.0,0.0,True,business,poor,False,rejected due to poor credit rating
3,100000.0,65.0,not_employed,2,1,50000,200000.0,0.0,0.0,True,personal,good,False,due to age
4,500000.0,29.0,not_employed,2,0,50000,3000000.0,0.0,0.0,False,personal,good,False,not employed
5,5000000.0,38.0,service,3,2,1000000,6000000.0,0.0,0.0,True,home,good,True,NaN
6,700000.0,30.0,service,3,1,100000,7000000.0,0.0,0.0,True,home,good,True,NaN